﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Autor: Thiago H. Pereira, Mobile and Web Developer, email: thiagohenrique.ti@gmail.com, tel: (31) 99368-6458.</p>
