﻿@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

	<h2>RESPOSTAS PARA O DESAFIO</h2>
	<div class="col-md-4">
		1 - Clique para expandir a imagem

		<a href="~/Exercicio 1/exercicio1.jpg" target="_blank">
			<img src="~/Exercicio 1/exercicio1.jpg" width="250" height="400" />
		</a>
	</div>

	<div class="col-md-4">
		2 - Escolha a matéria:

		@Html.DropDownList("Materias", String.Empty)
		<br />
		<br />
		<p><input type="button" class="btn btn-primary" value="Adicionar mais matérias" onclick="location.href='@Url.Action("Create", "Materia")'" /></p>

	</div>
	<div class="col-md-4">
		3 - Resposta:

		<p>d</p>

		<p>Nota: Eu fiquei confuso com as alterantivas e vou detalhar a solução abaixo. Eu quebraria toda a estrutura e agruparia todos os contextos em pequenas pacotes (Nuget por exemplo) e registraria todas estes pacotes em uma camada (business ou então em um projeto separado pois poderia até ser evoluído para um REST API que ofereceria somente os serviços de lógica do negócio) e deixaria exposto suas interfaces para a implementação nos clientes (não sei se eu também seria o responsável por manter os clientes).</p>

	</div>
</div>
<div class="row">
	<div class="col-md-4">
		4 - Resposta:
		<p>c</p>
	</div>
	<div class="col-md-4">
		5 - Resposta:
		<p>e</p>
	</div>
	<div class="col-md-4">
		6 - Resposta:
		<p>d</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		7 - Resposta:
		<p>b</p>
	</div>
	<div class="col-md-4">
		8 - Resposta:
		<p>b</p>
	</div>
	<div class="col-md-4">
		9 - Resposta:
		<p>c</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		10 - Resposta:

		Existe um projeto no diretório superior com o nome Exercíco10;
		<p></p>
	</div>

</div>